<div id="coffee-image">
  <div class="centered-content">
    <h1> Welcome to Caffeinated Tech</h1>
    <p>
    Hi, my name is Liam. This is my personal website, which I use for blogging and showing off some personal projects. Currently this is a work in progress. If you want to contact me, send a mail to <a href="mailto:liam.krewer@gmail.com">liam.krewer@gmail.com</a>
    </p>
  </div>
</div>
